# App Environment
ENVIRONMENT=dev

# Database
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
POSTGRES_HOST=postgres
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}

# Queue
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Tracing
OTEL_HTTP=http://jaeger:4318
OTEL_GRPC=jaeger:4317
OTEL_SERVICE_API=api
OTEL_SERVICE_WORKER=worker
